@import "tailwindcss";

body {
    background-color: #ecf0f2 !important;
}

.gradient {
    background-image: linear-gradient(to bottom, #293133, #3E5155);
}

.prime-text {
    color: #FFA353;
}

.prime-bg {
    background-color: #FFA353;
}

.seco-bg {
    background-color: #3E5155;
}

.appear {
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.disappear {
    animation-name: disappear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.overlay {
    background-color: #171717;
    opacity: 0;
    width: 100%;
    height: calc(100vh - 81px);
    position: fixed;
    z-index: 150;
    visibility: hidden;
    transition: opacity 1000ms ease-in, visibility 0ms ease-in 1000ms;
}

.overlay.visible {
    visibility: visible;
    opacity: 0.5;
    transition-delay: 0ms;
}
.markdown > * {
    all: revert;
}


@keyframes appear {
    from {width: 0; opacity: 0; }
    to {width: 350px; opacity: 100;}
}

@keyframes disappear {
    from {width: 350px; opacity: 100;}
    to {width: 0; opacity: 0;}
}
